debug: true
server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fitness_user_db
    username: postgres
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: user-service
  cloud:
    config:
      enabled: false  # Changed 'enable' to 'enabled'
  config:
    import: "optional:configserver:http://localhost:8888" # Must be one line